<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kars.timpeul.mappers.ArticleListMapper">
    <insert id="insertList"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index">
        INSERT INTO `5.19_test`.`q_list`
        (`title_text`, `info_text`, `made_token`, `is_admin_only`, `created_at`, `modified_at`, `is_deleted`)
        VALUES (#{list.title}, #{list.info}, #{list.token}, #{list.isAdmin}, #{list.createdAt}, #{list.modifiedAt}, #{list.isDeleted})
    </insert>

    <!-- 수정 -->



    <!-- 삭제 -->
    <update id="update">
        UPDATE `5.19_test`.`q_list`
        SET `is_deleted` = TRUE,
            `modified_at` = NOW()
        WHERE `index` = #{index}
    </update>



    <!-- 작성  -->
    <select id="selectListByIndex" resultType="com.kars.timpeul.entities.ArticleListEntity">
        SELECT `index`         AS `index`,
               `title_text`    AS `title`,
               `info_text`     AS `info`,
               `made_token`    AS `token`,
               `is_admin_only` AS `isAdmin`,
               `created_at`    AS `createdAt`,
               `modified_at`   AS `modifiedAt`,
               `is_deleted`    AS `isDeleted`
        FROM `5.19_test`.`q_list`
        WHERE `index` = #{index}
    </select>

    <!-- 모든 조회  O -->
    <select id="selectAll" resultType="com.kars.timpeul.entities.ArticleListEntity">
        SELECT `index`         AS `index`,
               `title_text`    AS `title`,
               `info_text`     AS `info`,
               `made_token`    AS `token`,
               `is_admin_only` AS `isAdmin`,
               `created_at`    AS `createdAt`,
               `modified_at`   AS `modifiedAt`,
               `is_deleted`    AS `isDeleted`
        FROM `5.19_test`.`q_list`
        ORDER BY `index` DESC
    </select>

    <!-- 내가 만든 조회 -->
    <select id="selectListsByToken" resultType="com.kars.timpeul.entities.ArticleListEntity">
        SELECT `index`         AS `index`,
               `title_text`    AS `title`,
               `info_text`     AS `info`,
               `made_token`    AS `token`,
               `is_admin_only` AS `isAdmin`,
               `created_at`    AS `createdAt`,
               `modified_at`   AS `modifiedAt`,
               `is_deleted`    AS `isDeleted`
        FROM `5.19_test`.`q_list`
        WHERE `made_token` = #{token} AND `is_deleted` = 0
    </select>

</mapper>