<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/article/styles/playList.css">

    <script defer src="/assets/article/scripts/playList.js"></script>
    <title>퀴즈 목록</title>
</head> <!--  http://localhost:8080/article/playList -->
<body>

<!-- 타임리프 필요할듯 -->
<form id="playListForm">
    <header class="header">
        <a class="caption" href="/article/playList">Q and A</a>
        <div class="stretch"></div>
        <a class="button" href="/article/write" name="write">퀴즈작성</a>
        <a class="button" href="/article/made" name="modify">퀴즈수정</a>
        <a class="logout" href="/article/login">로그아웃</a>
    </header>


    <div class="container">
        <h1 class="title">퀴즈 목록</h1>
        <div class="play-list">
            <div class="play-item"> <!-- th:href="@{/article/ (index = ${article.getIndex()})} -->
                <a href="/article/quiz"><img class="img" alt="" src="/assets/article/images/no-img.png"></a>
                <span class="caption">사자성어</span>
                <span class="info">사자성어 해석을 보고 무슨 성어인지 입력해주세요</span>
                <!-- db 에서 일정 글자 수 이상은 ... 표시-->
            </div>

            <div class="play-item">
                <a href="/article/quiz"><img alt="" src="/assets/article/images/no-img.png"></a>
                <span class="caption">티니핑 이름 맞추기</span>
                <span class="info">(시즌 1 ~ 3) 티니핑 사진을 보고 이름을 입력해 주세요.</span>
            </div>
            <div class="play-item">
                <img alt="" src="/assets/article/images/no-img.png">
                <span class="caption">제목</span>
                <span class="info">설명</span>
            </div>
            <div class="play-item">
                <img alt="" src="/assets/article/images/no-img.png">
                <span class="caption">제목</span>
                <span class="info">설명</span>
            </div>
            <div class="play-item">
                <img alt="" src="/assets/article/images/no-img.png">
                <span class="caption">제목</span>
                <span class="info">설명</span>
            </div>
            <div class="play-item">
                <img alt="" src="/assets/article/images/no-img.png">
                <span class="caption">제목</span>
                <span class="info">설명</span>
            </div>
            <div class="play-item">
                <img alt="" src="/assets/article/images/no-img.png">
                <span class="caption">제목</span>
                <span class="info">설명</span>
            </div>
        </div>
    </div>


    <footer class="footer">
        <span class="and">참고 사이트 : 마추기 아오이</span>
    </footer>


</form>
</body>
</html>