<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/article/styles/playList.css">

    <script defer src="/assets/article/scripts/playList.js"></script>
    <title>퀴즈 목록</title>
</head> <!--  http://localhost:8080/article/playList -->
<body>

<form novalidate id="playListForm">
    <header class="header">
        <a class="caption" href="/article/playList">Q and A</a>
        <div class="stretch"></div>
        <a class="button" href="/article/write" name="write">퀴즈작성</a>
        <a class="button" href="/article/made" name="modify">퀴즈수정</a>
        <a class="logout" th:href="${session.loggedInUser != null} ? '/article/logout' : '/article/login'"
                          th:text="${session.loggedInUser != null} ? '로그아웃' : '로그인'">로그인</a>
    </header>


    <div class="container">
        <h1 class="title">퀴즈 리스트</h1>
        <div class="play-list" id="playList">
            <a class="play-item" id="index" href="" name="item">
                <img class="img" alt="" id="question" src="/assets/article/images/no-img.png">
                <span class="caption" id="title">사자성어</span>
                <span class="info" id="info">사자성어 해석을 보고 무슨 성어인지 입력해주세요</span>
                <!-- db 에서 일정 글자 수 이상은 ... 표시-->
            </a>
        </div>
    </div>


</form>

<footer class="footer">
    <span class="and">참고 사이트 : 마추기 아이오</span>
</footer>

</body>
</html>