<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/article/styles/quizContent.css">
    <link rel="stylesheet" href="../../static/assets/article/styles/quizContent.css">


</head>
<body>
<header id="header">

    <img id="logoImg" src="/assets/article/images/logoim.png" height="40" width="40"/>
</header>
   <div id="quizContainer">
       <div id="quizImage">
           <img src="/assets/article/images/no-img.png" height="300" width="500"/></div>
       <label id="quizLabel">
   <input id="quizInput" type="text">
           <a href="/article/quizResult"><button id="quizButton" type="submit"><img src="/assets/article/images/hwasalpyo.png" height="30" width="30"/></button></a>
       </label>

   </div>


</body>
</html>