<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/article/styles/quiz.css">
    <link rel="stylesheet" href="../../static/assets/article/styles/quiz.css">
</head>
<body>
<header id="header">
    <img id="logoImg" src="/assets/article/images/logoim.png" height="40" width="40"/>
</header>

<div id="quizContainer" th:if="${quizInfo!=null}">
    <div id="quizImage">
        <img th:if="${firstQuestion.question!=null}" th:src="${firstQuestion.question}">
        <img th:if="${firstQuestion.question==null}" src="/assets/article/images/no-img.png" height="300" width="500"/>
    </div>
    <form id="quizForm">
        <div id="title" th:text="${quizInfo.title}">오늘날짜</div>
        <div th:text="${quizInfo.info}">---</div>
        <!--   <div>-&#45;&#45;</div>-->
    </form>
    <a th:href="@{/article/quizContent/{quizId}(quizId=${quizInfo.index})}"><button id="quizButton"><img src="/assets/article/images/hwasalpyo.png" height="30" width="30"/>문제 풀러가기</button></a>
</div>

</body>
</html>