<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/article/styles/quizResult.css">


</head>
<body>
<header id="header">
    <img id="logoImg" src="/assets/article/images/logoim.png" height="40" width="40"/>
</header>
<div id="quizContainer">
    <div id="quizResult">0개 맞췄습니다</div>
    <div id="quizResultContent">
        <span>당신은 상위 100%입니다</span>
        <div id="graphContainer">
            <button type="button" id="graph" style="height: 40px">
<!--                <span id="data1" style="height: 10%"></span>-->
<!--                <span id="data2" style="height: 50%"></span>-->
<!--                <span id="data3" style="height: 80%"></span>-->
            </button>
            <button type="button" id="graph" style="height: 50px">
<!--                <span id="data1" style="height: 10%"></span>-->
<!--                <span id="data2" style="height: 50%"></span>-->
<!--                <span id="data3" style="height: 80%"></span>-->
            </button>
            <button type="button" id="graph" style="height: 60px">
<!--                <span id="data1" style="height: 10%"></span>-->
<!--                <span id="data2" style="height: 50%"></span>-->
<!--                <span id="data3" style="height: 80%"></span>-->
            </button>
            <button type="button" id="graph" style="height: 70px" ></button>
            <button type="button" id="graph" style="height: 80px"></button>
            <button type="button" id="graph" style="height: 90px"></button>
            <button type="button" id="graph" style="height: 100px"></button>
            <button type="button" id="graph" style="height: 110px"></button>
            <button type="button" id="graph" style="height: 120px"></button>
            <button type="button" id="graph" style="height: 110px"></button>
            <button type="button" id="graph" style="height: 100px"></button>
            <button type="button" id="graph" style="height: 90px"></button>
            <button type="button" id="graph" style="height: 80px"></button>
            <button type="button" id="graph" style="height: 70px"></button>
            <button type="button" id="graph" style="height: 60px"></button>
            <button type="button" id="graph" style="height: 50px"></button>
            <button type="button" id="graph" style="height: 40px"></button>


        </div>
        <a href="/article/quiz"><button id="home">홈으로</button></a>
        <button id="retry">다시하기</button>
    </div>
</div>
</body>
</html>