<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/article/styles/quiz.css">
</head>
<body>
<header id="header">
    <img id="logoImg" src="/assets/article/images/logoim.png" height="40" width="40"/></header>

<div id="quizContainer">

<form id="quizForm">
   <div id="title">오늘날짜</div>
   <div>---</div>
   <div>---</div>
</form>
    <a href="/article/quizContent"><button id="quizButton"><img src="/assets/article/images/hwasalpyo.png" height="30" width="30"/>문제 풀러가기</button></a>
</div>

</body>
</html>